.row {
    background: url(https://hd.unsplash.com/photo-1461360370896-922624d12aa1);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.col-sm-8 {
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 2%;
    border-radius: 15px;
}

.ceo {
    float: left;
    margin: 2%;
}
